
  <header class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          <div class="site-heading padding-20">
            <h1>Simplex Website Parser</h1>
          </div>

          <div class="row">
            <div class="select-box-container col-md-6 padding-25" [class.transparency]="!brands.length">
              <ng-select #brandSelectBox 
                          [allowClear]="true"
                          [items]="brands"
                          [disabled]="!brands.length"
                          (selected)="selectBrand($event)"
                          (removed)="removeBrand($event)"
                          placeholder="{{ brands.length ? 'No brand selected' : 'Loading...' }}">
              </ng-select>
            </div>

            <div class="select-box-container col-md-6 padding-25" [class.transparency]="!models.length">
              <ng-select #modelSelectBox 
                          [allowClear]="true"
                          [items]="models"
                          [disabled]="!models.length"
                          (selected)="selectModel($event)"
                          (removed)="removeModel($event)"
                          placeholder="{{ brandSelectBox.active.length && !models.length ? 'Loading...' : 'No model selected' }}">
              </ng-select>
            </div>
          </div>

          <div class="search padding-30">
            <input type="text" class="form-control" placeholder="Search..." value="" (keyup.enter)="searchSubmit($event)"/>
          </div>

        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <main class="container">
    <div class="loading">
      <span *ngIf="isLoading()">Loading...</span>
    </div>
    <div class="row">
      
      <div *ngIf="searchResultMessage" class="alert alert-danger col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{searchResultMessage}}
      </div>

      <div *ngIf="searchListing.length" [ngClass]="{'col-lg-3 col-lg-push-2 col-md-4 col-md-push-1': searchListing.length }">
        <ul class="list-unstyled search-reuslts">
          <li *ngFor="let item of searchListing">
            <a data-href="http://www.gsmarena.com{{item.uri}}" (click)="loadPhoneSpec(item)">
              {{item.text}}
            </a>
          </li>
        </ul>
      </div>

      <div [ngClass]="{'col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1': !searchListing.length, 'col-lg-7 col-lg-push-2 col-md-6 col-md-push-1': searchListing.length }">
        
        <h2 *ngIf="specification.length">{{phoneHeader}}</h2>
        <div *ngFor="let section of specification">
            <h4>{{section.name}}</h4>
            <ul>
                <li *ngFor="let feature of section.content">{{feature.name}} &ndash; {{feature.content}}</li>
            </ul>
        </div>

      </div>

    </div>
  </main>

  <!-- Footer -->
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p class="copyright text-muted">Copyright &copy; Aleksandr Ukolov 2016</p>
              </div>
          </div>
      </div>
  </footer>


