<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>SimplexFrontend</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="vendor/ng2-select/components/css/ng2-select.css"> 
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"> 
  <style>
    .app-loading {
      position: absolute;
      top: 21%; left: 50%;
      text-align: center;
      color: #555;
    }
    .glyphicon-refresh-animate {
      -animation: spin .7s infinite linear;
      -webkit-animation: spin2 .7s infinite linear;
    }
    @-webkit-keyframes spin2 {
      from { -webkit-transform: rotate(0deg);}
      to { -webkit-transform: rotate(360deg);}
    }
    @keyframes spin {
      from { transform: scale(1) rotate(0deg);}
      to { transform: scale(1) rotate(360deg);}
    }
  </style>
</head>
<body>
  <app-root>
    <div class="app-loading">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
    </div>
  </app-root>

  

    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>

  

</body>
</html>
